<nav class="fixed top-0 w-full z-50 flex justify-between items-center h-16 px-6 max-w-full bg-zinc-950/80 backdrop-blur-md border-b border-zinc-800 shadow-2xl text-sm tracking-wide text-indigo-600">
  <div class="flex items-center gap-18">
    <a class="text-2xl md:text-3xl font-black text-white" href="#">
      Movies
    </a>
    <div class="hidden md:flex items-center gap-6">
      <!-- Active Nav Item based on intent 'Movie Exploration' -> 'Explore' -->
      <a class="text-indigo-500 text-lg font-semibold border-b-2 border-indigo-500 pb-1 flex flex-col scale-95 active:scale-90 transition-all"
        href="#">
        Explore
      </a>
      <!-- Inactive Nav Item -->
      <a class="text-zinc-400 text-lg font-semibold hover:text-zinc-100  hover:bg-zinc-800/50 transition-all duration-300 px-3 py-1 rounded-md scale-95 active:scale-90"
        href="#">
        Favorites
      </a>
    </div>
  </div>
  <!-- Search Bar & Trailing Actions -->
  <div class="flex items-center gap-4">
    <!-- Login button -->
    <button class="primary-button" type="button" [routerLink]="[{ outlets: { modal: ['login'] } }]">
      Login
    </button>

    <!-- Profile Image -->
    <button
      class="w-8 h-8 rounded-full overflow-hidden border border-zinc-800 hover:border-indigo-500 transition-colors scale-95 active:scale-90">
      <img alt="User profile" class="w-full h-full object-cover"
        data-alt="A close up portrait of a person representing a user profile picture, softly lit against a dark background, embodying a sophisticated cinematic mood."
        src="https://lh3.googleusercontent.com/aida-public/AB6AXuAQ_pWIQ7-vV342fjOY0lrjRIy8U4Xk2I2fKh16N9nfqkEydgoHIdLlqCvYFA3ajcfDEIURuOKE8O0nY0PJ7ZuhzJtLRq33qwu_Du9Lb8pG-zFu-SKLcAY-qkuZ-teJXMVJrlgjHgFIBVI8fK6wOUkM21V7z3oUWBtNt626FjR5XoW2woLFLdOoiqXddszcLTNRZu0-6DkwuOxQMThuVp0-dIZg7GWRCXPHW7viyWahqkG5xPwQwJlVUmX9TlpeT9eTDcPHwcWwEg" />
    </button>
  </div>
</nav>
