<footer class="bg-zinc-950 full-width py-8 border-t border-zinc-900 mt-auto">
  <div class="max-w-screen-2xl mx-auto px-6 flex flex-col md:flex-row justify-between items-center gap-8">
    <div class="text-zinc-500">© 2026 crbarrio</div>
    <div class="flex flex-wrap justify-center gap-6">
      <a class="text-zinc-600 hover:text-white transition-colors" href="#">Privacy Policy</a>
      <a class="text-zinc-600 hover:text-white transition-colors" href="#">Terms of Service</a>
      <a class="text-zinc-600 hover:text-white transition-colors" href="#">API Documentation</a>
      <a class="text-zinc-600 hover:text-white transition-colors" href="#">Press Kit</a>
    </div>
    
    <div class="flex gap-2 px-4 py-2 rounded-lg items-center hover:bg-neutral-500/20 text-zinc-600 hover:text-white transition-colors hover:cursor-pointer">
      <a href="https://www.themoviedb.org/" target="_blank">
        Powered by
      </a>
      <img src="/logo-tmdb.svg" alt="TMDB Logo" class="w-10">
    </div>
    
  </div>
</footer>